:root {
  --main-color: #562ee6;
  --accent-color: #50e3c2;
  --modo-nocturno-color: #37383c;
  --hover-link-color: #9cafc3;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  border-style: solid none;
  border-color: var(--main-color);
}
.container {
  max-width: 1120px;
  margin: 0 auto;
}

nav {
  padding: 18px 120px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav li {
  display: inline;
  letter-spacing: 0.1rem;
  font-size: 13px;
  text-align: center;
}
nav a {
  padding: 10px;
  text-decoration: none;
  color: var(--main-color);
}
nav li.active-link a {
  color: var(--hover-link-color);
}
.burger {
  display: none;
}

.mobile-logo {
  display: none;
}
.hero-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 30px;
}
form {
  display: block;
  text-align: center;
  padding: 0 10px;
}
input {
  text-align: left;
  border: 1px solid var(--main-color);
  max-width: 550px;
  height: 50px;
  border-radius: 37px;
  font-size: 16px;
  color: #9cafc3;
  line-height: 19px;
  font-family: "Roboto", sans-serif;
  padding: 0 30px;
  background-image: url(/Images/icon-search.svg);
  background-repeat: no-repeat;
  background-position-x: 550px;
  background-position-y: center;
}
header h1 {
  text-align: center;
  color: var(--main-color);
  line-height: 50px;
  margin-top: 90px;
}
h1 span {
  color: var(--accent-color);
}
h3 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 25px;
  color: var(--main-color);
  text-align: center;
  line-height: 30px;
}
p {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  color: #000000;
  text-align: center;
  line-height: 21px;
  margin-top: 12px;
  margin-bottom: 53px;
}

section {
  background-color: #f3f5f8;
  padding-top: 67px;
  padding-bottom: 182px;
}

.gallery-images {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.gallery-img {
  max-width: 357px;
  padding: 20px;
}
h4 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 18px;
  color: #572ee5;
  text-align: center;
  line-height: 25px;
  margin-top: 73px;
}
.trending-examples {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  color: #572ee5;
  text-align: center;
  line-height: 25px;
  margin-top: 7px;
  margin-bottom: 95px;
}
.CTA-ver-mas {
  display: block;
  text-align: center;
  padding: 78px 0 79px 0;
}
footer {
  display: flex;
  justify-content: space-between;
}
footer p {
  font-size: 13px;
  font-family: "Roboto-Regular", sans-serif;
  margin: 49.5px 0 51.5px 156px;
}
footer .footer {
  display: flex;
  justify-content: flex-start;
}
footer .socialmedia-icons {
  padding: 0 5px;
}
footer .facebook {
  max-width: 20px;
  height: auto;
  padding: 47.4px 19px 53.4px 17px;
}
footer .twitter {
  width: 18px;
  height: 16.3px;
  margin: 49.4px 20px 50.3px 0;
}
footer .instagram {
  width: 18px;
  height: 18.1px;
  margin: 48.4px 0 49.5px 0;
}
footer .rights-reserved {
  margin-right: 158px;
}

/*Favoritos*/

header img.corazon-favoritos {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.container-favoritos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  justify-items: center;
  row-gap: 29px;
  margin-top: 36px;
}
.gallery-favoritos {
  max-width: 260px;
  height: auto;
}
/*@media */
@media (max-width: 824px) {
  img {
    max-width: 100%;
  }
  .hero-img {
    max-width: 270px;
  }
  form input {
    max-width: 280px;
    margin: 0;
    background-position-x: 300px;
  }
  .menu {
    display: none;
  }
  .active {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(86, 46, 230, 0.9);
    z-index: 2;
  }
  .logo {
    display: none;
  }
  .mobile-logo {
    display: block;
    margin-top: 10px;
  }
  /*.header-imgs {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }*/
  .burger {
    display: inline;
  }
  .menu-imgs {
    display: flex;
    justify-content: space-between;
  }

  nav li {
    margin-top: 20px;
  }
  nav li a {
    padding: 10px 0;
    text-align: center;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    position: relative;
    color: white;
  }
  nav li a:hover {
    color: white;
  }
  nav ul {
    z-index: -1;
    margin-top: 80px;
  }
  nav ul li a::after {
    content: " ";
    height: 1px;
    width: 100px;
    position: absolute;
    background: white;
    left: 50%;
    bottom: 0;
    margin: 0 auto;
    top: 1px;
    transform: translateX(-50%);
  }

  .nav-bar {
    display: inline-block;
    width: 100%;
  }
  .gallery-images {
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
  }
  .gallery-image {
    max-width: 300px;
    padding: 0;
  }
  header h1 {
    font-size: 25px;
    line-height: 33px;
    text-align: center;
  }
  nav {
    padding: 0 20px;
  }
  .plus-sign {
    display: none;
  }
  .trending-examples {
    margin: 0 auto;
    max-width: 225px;
    text-align: center;
  }
  .arrow-icon .arrow-icon-active {
    display: none;
  }
  footer {
    flex-direction: column;
  }
  footer.footer {
    justify-content: center;
  }
}

/* Modo Norturno */
.body-modo-nocturno {
  background-color: var(--modo-nocturno-color);
}
.body-modo-nocturno h1 {
  color: white;
}
.body-modo-nocturno h3 {
  color: white;
}
.body-modo-nocturno h4 {
  color: white;
}
.body-modo-nocturno p {
  color: white;
}
.body-modo-nocturno a {
  color: white;
}
.body-modo-nocturno input {
  border: 1px solid white;
  background-color: var(--modo-nocturno-color);
  background-image: url(/Images/icon-search-modo-noct.svg);
}
.body-modo-nocturno section {
  background-color: #222326;
}
