:root {
  --main-color: #562ee6;
  --accent-color: #50e3c2;
  --modo-nocturno-color: #37383c;
  --hover-link-color: #9cafc3;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  border-style: solid none;
  border-color: var(--main-color);
}
.container {
  max-width: 1120px;
  margin: 0 auto;
}
nav ul {
  list-style-type: none;
  padding-right: 59.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 23px;
}
.nav-bar-right {
  display: flex;
  align-items: center;
}
nav li {
  display: inline;
  letter-spacing: 0.1rem;
  font-size: 13px;
  text-align: center;
  margin: 0 25px;
}
/* nav li:hover {
  border-style: none none solid none;
  border-color: var(--accent-color);
  text-decoration: underline var(--accent-color);
} */
nav li a {
  padding: 10px;
  text-decoration: none;
  color: var(--main-color);
}

nav li.active-link a {
  color: var(--hover-link-color);
}
.burger {
  display: none;
}
.burger-modo-noc {
  display: none;
}

.mobile-logo {
  display: none;
}
.hero-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 30px;
}
form {
  display: block;
  text-align: center;
  padding: 0 10px;
  position: relative;
}
/* .search-icon {
  position: absolute;
  top: 8px;
  right: 140px;
  z-index: 2;
} */
input {
  text-align: left;
  border: 1px solid var(--main-color);
  width: 550px;
  min-height: 50px;
  border-radius: 37px;
  font-size: 16px;
  color: #9cafc3;
  line-height: 19px;
  font-family: "Roboto", sans-serif;
  padding: 0 30px;
}
header h1 {
  text-align: center;
  color: var(--main-color);
  line-height: 50px;
  margin-top: 90px;
}
h1 .gifos-verde {
  color: var(--accent-color);
}
h3 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 25px;
  color: var(--main-color);
  text-align: center;
  line-height: 30px;
}
p {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  color: #000000;
  text-align: center;
  line-height: 21px;
  margin-top: 12px;
  margin-bottom: 53px;
}

section {
  background-color: #f3f5f8;
  padding-top: 67px;
  padding-bottom: 182px;
}

.gallery-images {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.gallery-img {
  max-width: 30%;
  padding: 20px;
}
h4 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 18px;
  color: #572ee5;
  text-align: center;
  line-height: 25px;
  margin-top: 73px;
}
.trending-examples {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  color: #572ee5;
  text-align: center;
  line-height: 25px;
  margin-top: 7px;
  margin-bottom: 95px;
}
footer {
  display: flex;
  justify-content: space-between;
}
footer span {
  font-size: 13px;
  font-family: "Roboto-Regular", sans-serif;
  margin: 49.5px 0 51.5px 0;
}
footer .footer {
  display: flex;
  justify-content: flex-start;
}
footer .socialmedia-icons {
  padding: 0 5px;
}
footer .facebook {
  max-width: 20px;
  height: auto;
  padding: 47.4px 19px 53.4px 17px;
}
footer .twitter {
  width: 18px;
  height: 16.3px;
  margin: 49.4px 15px 50.3px 0;
}
footer .instagram {
  width: 18px;
  height: 18.1px;
  margin: 48.4px 0 49.5px 0;
}
.modo-diurno {
  display: none;
}
.show-modo-diurno {
  display: block;
}
.hide-modo-nocturno {
  display: none;
}

/*Favoritos and Mis Gifos*/

header img.corazon-favoritos {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22.2px;
}
div.container-favoritos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  justify-items: center;
  margin-top: 36px;
  grid-gap: 35px 29px;
}
.button-ver-mas {
  padding: 78px 0 79px 0;
}
.button-ver-mas button {
  background-color: white;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: var(--main-color);
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  border: 1px solid var(--main-color);
  border-radius: 40px;
  cursor: pointer;
}
.button-ver-mas button:hover {
  background-color: var(--main-color);
  color: white;
  transition: 20ms ease-in-out;
}
.gallery-favoritos {
  width: 100%;
  height: auto;
}
.cruz {
  display: none;
}
.mob-logo-modo-noc {
  display: none;
}
.logo-modo-noc {
  display: none;
}

/*@media */
/* @media (max-width: 1000px) {
  .gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
  }
  .arrow-icon {
    display: none;
  }
  .arrow-icon-active {
    display: none;
  }
} */

@media (max-width: 700px) and (max-width: 1000px) {
  .input-wrapper {
    display: block;
    text-align: center;
  }
  .container {
    max-width: 100%;
    margin: 0;
  }
  section {
    padding-bottom: 82px;
  }
  .text {
    padding-bottom: 45px;
  }
  h4 {
    margin-top: 31px;
  }
  p {
    max-width: 333px;
    text-align: center;
    margin: 7px auto 32px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .hero-img {
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
  }
  form input {
    max-width: 334px;
    margin: 0;
  }
  .menu {
    display: none;
  }
  .active {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(86, 46, 230, 0.9);
    z-index: 2;
    font-size: 15px;
    font-family: "Montserrat-Bold", sans-serif;
    padding-top: 30px;
    margin-top: 100px;
    margin-right: 0;
  }
  .body-modo-nocturno .active {
    background-color: #000000;
    max-width: 100%;
  }
  .body-modo-nocturno .mob-logo-modo-noc {
    display: block;
  }
  .body-modo-nocturno .mobile-logo {
    display: none;
  }
  .body-modo-nocturno .logo-modo-noc {
    display: none;
  }
  .body-modo-nocturno .burger-modo-noc {
    display: block;
  }
  .body-modo-nocturno .burger {
    display: none;
  }
  .body-modo-nocturno .open .burger-modo-noc {
    display: none;
  }
  .body-modo-nocturno .open .cruz-modo-noc {
    display: block;
  }
  .logo {
    display: none;
  }
  .mobile-logo {
    display: block;
    margin-top: 10px;
  }
  /*.header-imgs {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }*/
  .burger {
    display: inline;
  }
  .open .burger {
    display: none;
  }
  .open .cruz {
    display: block;
  }
  .menu-imgs {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  nav li {
    margin: 20px 0 0 0;
    padding: 0;
  }
  nav li a {
    padding: 20px 0;
    text-align: center;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    position: relative;
    color: white;
  }
  nav li a:hover {
    color: white;
  }
  nav ul {
    z-index: -1;
    margin-top: 80px;
  }
  nav ul li a::after {
    content: " ";
    height: 1px;
    width: 10%;
    position: absolute;
    background: white;
    left: 50%;
    bottom: 0;
    margin: 0 auto;
    transform: translateX(-50%);
    margin: 10px 0;
  }

  .nav-bar {
    display: inline-block;
    width: 100%;
  }
  .gallery-images {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .gallery-img {
    display: inline-block;
    padding: 0;
    max-width: 243px;
    height: auto;
  }

  header h1 {
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    max-width: 80%;
    margin: 20px auto;
  }
  nav {
    padding: 0 20px;
  }
  .plus-sign {
    display: none;
  }
  .trending-examples {
    margin: 0 auto;
    max-width: 225px;
    text-align: center;
  }
  .arrow-icon {
    display: none;
  }
  .arrow-icon-active {
    display: none;
  }
  footer {
    flex-direction: column;
  }
  footer .footer {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  footer span {
    display: block;
    text-align: center;
    margin: 47px 0 23px 0;
  }
  div .container-favoritos {
    grid-template-columns: repeat(2, 1fr);
    margin: 21px;
  }

  .search-icon {
    /* position: absolute;
    top: 50%;
    transform: translateX(50%);
    z-index: 2; */
    display: none;
  }
  footer a .facebook {
    padding: 0;
  }
  footer a .twitter {
    margin: 0;
  }
  footer a .instagram {
    margin: 0;
  }
  /* .social-media {
    margin-top: 23px;
  } */
}

/* Modo Norturno */
.body-modo-nocturno {
  background-color: var(--modo-nocturno-color);
}
.body-modo-nocturno h1 {
  color: white;
}
.body-modo-nocturno h3 {
  color: white;
}
.body-modo-nocturno h4 {
  color: white;
}
.body-modo-nocturno p {
  color: white;
}
.body-modo-nocturno a {
  color: white;
}
.body-modo-nocturno input {
  border: 1px solid white;
  background-color: var(--modo-nocturno-color);
}
.body-modo-nocturno section {
  background-color: #222326;
}
.body-modo-nocturno footer span {
  color: white;
}
.body-modo-nocturno .logo-modo-noc {
  display: block;
}
.body-modo-nocturno .logo {
  display: none;
}
